<a href="https://colab.research.google.com/github/t1mmy89ru/nyu-python-public-policy/blob/master/HW3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from google.colab import drive

In [3]:
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
df = pd.read_csv('/content/drive/My Drive/Data for Python/cleaned_311_data_hw3.csv', header='infer')

In [7]:
df_filtered = df[['complaint_type','descriptor','community_board']]
df_filtered['complaint_type'] = df_filtered['complaint_type'].str.lower() 
df_filtered['descriptor'] = df_filtered['descriptor'].str.lower() 
df_filtered

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                complaint_type             descriptor community_board
0      maintenance or facility   structure - outdoors   0 Unspecified
1      maintenance or facility      garbage or litter       12 QUEENS
2      maintenance or facility     hours of operation     01 BROOKLYN
3      maintenance or facility      garbage or litter       14 QUEENS
4      maintenance or facility      garbage or litter       07 QUEENS
...                        ...                    ...             ...
64572  maintenance or facility        rodent sighting    12 MANHATTAN
64573  maintenance or facility   structure - outdoors   0 Unspecified
64574  maintenance or facility  graffiti or vandalism       07 QUEENS
64575  maintenance or facility      garbage or litter    03 MANHATTAN
64576  maintenance or facility   structure - outdoors     15 BROOKLYN

[64577 rows x 3 columns]

In [0]:

#step 1
def graffiti(row):
  if 'graffiti' in row.complaint_type:
      return 'True'
  elif 'graffiti' in row.descriptor and pd.notnull(row.descriptor) != False:
      return 'True'
  else: 
    return 'False'

In [44]:
#step 2

df_filtered['graffiti_flag'] = df_filtered.apply(graffiti, axis=1)
df_filtered.groupby(['graffiti_flag']).size().reset_index(name='count').sort_values('graffiti_flag')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  graffiti_flag  count
0         False  38206
1          True  26371

In [43]:
#step 3
df_graffiti = df_filtered.loc[df_filtered['graffiti_flag'] == 'True']
df_graffiti

                complaint_type  ... graffiti_flag
8                     graffiti  ...          True
9                     graffiti  ...          True
10                    graffiti  ...          True
12                    graffiti  ...          True
13                    graffiti  ...          True
...                        ...  ...           ...
64510                 graffiti  ...          True
64511                 graffiti  ...          True
64528                 graffiti  ...          True
64566                 graffiti  ...          True
64574  maintenance or facility  ...          True

[26371 rows x 4 columns]

In [49]:
#step 4
counts = df_graffiti.groupby(['community_board', 'graffiti_flag']).size().nlargest(15).reset_index(name='count')
counts

         community_board graffiti_flag  count
0            01 BROOKLYN          True   1797
1           03 MANHATTAN          True   1593
2            04 BROOKLYN          True   1429
3            03 BROOKLYN          True   1252
4            05 BROOKLYN          True    962
5            07 BROOKLYN          True    779
6      Unspecified BRONX          True    615
7           02 MANHATTAN          True    598
8   Unspecified BROOKLYN          True    591
9              01 QUEENS          True    572
10         0 Unspecified          True    540
11             12 QUEENS          True    539
12           12 BROOKLYN          True    532
13           14 BROOKLYN          True    532
14           08 BROOKLYN          True    505